Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  portability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers

WarningsAsErrors: ""

HeaderFilterRegex: ".*include/orion/.*"

FormatStyle: file
